@charset "UTF-8";
.supporting_content {
	height: auto;
	margin-top: 29px;
	background: #e7eaee;
}
.row img {
    width:  400px;
    height: 300px;
    background-size: auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.supporting_content .thumbnail{
	background: #e7eaee;
}
.container-fluid .supporting_content h1 {
	text-align: center;
	color: #212121;
	font-size: 60px;
	font-weight: bold;
}
.container-fluid .supporting_content p {
	text-align: center;
	color: #727272;
	font-size: 18px;
}
.container-fluid .supporting_content hr {
	margin-left: 44px;
	margin-right: 44px;
}

.col-md-4 .thumbnail .caption {
	width: 100%;
}
.thumbnail .caption h3 {
	text-align: center;
	font-size: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: block;
}
.supporting_content .row .col-md-4 .thumbnail {
	border:none;
}
.col-md-4 .thumbnail img {
	position: relative;
	transition:all 0.2s ease 0s;
	transform:scale(0.8,0.8);
}

.col-md-4 .thumbnail img:hover {
	position: relative;
	-webkit-box-shadow: 0px 0px 101px 0px rgba(0,0,0,0.62);
	box-shadow: 0px 0px 101px 0px rgba(0,0,0,0.62);
	transform:scale(0.9,0.9);
}

@media screen (min-width: 478px){
	.thumbnail .caption h3 {
		position: absolute;
		top: 79%;
		left: 23%;
	}
}
.container-fluid .supporting_content h1 {
	padding-top: 20px;
}
.see_more{
	margin-bottom:30px;
}

.part_3{
	height:auto;
}

.part_3 iframe{
	height:720px;
}
@media screen and (max-device-width:768px){
	.part_3 iframe{
	height:300px;
	}
	.container-fluid .supporting_content h1 {
    text-align: center;
    color: #212121;
    font-size: 30px;
    font-weight: bold;
	}
	.container-fluid .supporting_content h3 {
    text-align: center;
    color: #212121;
    font-size: 15px;
	}
	.to_be_hidden{
		visibility:hidden;
	}
}
